* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
h1 {
  margin: 1rem auto;
  text-align: center;
}
form {
  width: 40%;
  margin: auto;
}
section {
  display: flex;
  flex-direction: column;
}
label {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1.25rem;
  font-stretch: ultra-condensed;
}
input {
  padding: 0.5rem;
  border-radius: 0.3rem;
}
